:root{
    --lightblue: #25dfe6;
    --white: #FFFFFF;
    --grey: #bababa;
    --black: #000000;
    --maxwidth: 1200px;
}

body {
    background-color: var(--white)
    
}

div.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    border: 2px solid var(--black);
}

header h1 {
    text-transform: uppercase;
}

nav {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    justify-content: space-between;
    padding-top: 3rem;
}

nav button {
   
    background-color: var(--grey);
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
}
button:focus {
    background-color: var(--lightblue);
}

section {
    width: 100%;
    margin-top: 0;
    /* display: flex; */
    border: 2px solid var(--black);
    border-top: 1rem solid var(--lightblue);
}


@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;

    }
    body {
            width: 100%;
            display: grid;            
    }
}
